*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(217 217 217);
}

table{
    margin: 30px auto;
    background-color: #222;
    width: 300px;
    height: 340px;
    text-align: center;
    border-radius: 5px;
    padding-right: 10px;
}

input{
    outline: 0;
    position: relative;
    left: 5px;
    top: 5px;
    border: none;
    color: rgb(48, 47, 47);
    background-color: white;
    border-radius: 5px;
    width: 60px;
    height: 50px;
    float: left;
    margin: 5px;
    font-size: 18px;
    margin-bottom: 15px;
    
}
input[type="button"]{
    cursor: pointer;
}

input:hover{
    background-color: rgb(26, 25, 25);
    color: white;
}

#display{
    width: 280px;
    font-size: 30px;
    text-align: right;
    background-color: rgb(177, 226, 128);
    color: rgb(31, 30, 30);

}

h1{
    text-align: center;
    padding: 15px;
    padding-top: 30px;
    font-size: 40px;
}

.operator{
    background-color: cornflowerblue;
}

.clear{
    background-color: rgb(37, 202, 133);;
}

.operator:hover{
    background-color: purple;
    color: white;
}

.clear:hover{
    background-color: darkorchid;
    color: white;
}

footer{
    text-align: center;
    font-size: 1.8rem;
}